<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div style="display: flex; height: 100vh">
            <div style="display: flex; background: gray; width: 33%">
                {% include "sidebar.html" %}
            </div>
            
            <div>
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
